@import "layout.css";

body .wrapper.__headed.__catted {
  background: #fff;
}

.new-good-img-container img {
  display: block;
  margin-top: 5px;
}

.new-good-img-container.__catt {
  border: none !important;
  width: 220px !important;
  padding: 0;
  height: 420px;
}

.new-good-img-container.__catt img {
  width: 100%;
  height: auto;
  margin: 0;
}

.slider.__item-info {
  background: #fff;
  overflow: hidden;
  width: 2340px;
}

.item-pict-block {
  width: 444px;
  height: 430px;
  margin-right: 30px;
  float: left;
}

.item-pict-block img {
  width: 100%;
  height: auto;
}

.item-inform {
  float: left;
  width: 366px;
  height: 430px;
}

.item-inform h2 {
  margin: 30px 0 20px;
  display: block;
  text-align: left;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Opensans",sans-serif;
}

.item-inform .features {
  margin-bottom: 20px;
}

.item-inform .features .feature {
  margin-bottom: 5px;
}

.item-inform .features .feature span {
  color: #7c7770;
}

.item-inform p {
  color: #333;
  width: 335px;
  font-size: 14px;
  line-height: 24px;
  font-family: "Opensans",sans-serif;
}

header .navigation ul li .downmenu {
  width: auto;
}

header .navigation ul li .downmenu ul {
  width: auto;
}

header .navigation ul li .downmenu ul li {
  height: auto;
  min-width: 100px;
  padding: 10px 0;
  margin-left: 0;
  float: none;
  width: auto;
}

header .navigation ul li .downmenu ul li a {
  line-height: 16px;
  height: auto;
}

.tabs-header {
  overflow: hidden;
  width: 100%;
}

.tabs-header .tab-button {
  float: left;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  background: #e1e1e1;
  font-size: 14px;
  color: #fff;
  padding: 0 35px;
  border-right: 1px solid #d1d1d1;
}

.tabs-header .tab-button:last-of-type {
  border: none;
  border-radius: 0 5px 0 0;
}

.tabs-header .tab-button:first-of-type {
  border-radius: 5px 0 0 0;
}

.tabs-header .tab-button.__active {
  background: #525961;
}

.tabs-header .tab-button:hover {
  background: #525961;
}

.tab-block {
  width: 100%;
  border: 1px solid #525961;
  padding: 30px;
  width: 898px;
  color: #333;
  border-radius: 0 5px 5px 5px;
}

.tab-block p {
  color: #333;
  margin-bottom: 20px;
}

#tab2b,
#tab3b,
#tab4b {
  display: none;
}

.scrollyeah {
  margin-bottom: 30px;
}