@font-face
	font-family "Opensans"
	font-style normal
	src url('/bundles/fonts/open-sans/OpenSans-Regular.ttf')
html, body
	width 100%
	font-family "Opensans", sans-serif
	.wrapper
		width 100%
		overflow hidden
		&.__headed
			background #CCE8EB 
		&.__grey
			background #a4a1a4 
			.content
				padding 40px 0
				overflow hidden
		&.__footer
			background #525961 
			.content 
				padding 0
header
	margin 0 auto
	width 1040px
	position relative
	background url('/img/main-logo.png') 0px 10px no-repeat
	.lang
		width 100%
		height 30px
		overflow hidden
		.lang-chooser
			float right
			width 120px
			overflow hidden
			.lang-link
				display block
				float left
				width 60px
				height 30px
				line-height 30px
				font-size 12px
				font-weight 700  
				color #94bbbf
				text-align center
				text-transform uppercase 
				font-family "Opensans", sans-serif
				text-decoration none
				border-radius 0 0 5px 5px
				&:hover
					background #fff 
				&.__active
					background #fff 
	.navigation
		margin 0 0 0 200px
		width 820px
		height 70px
		ul
			display block
			width 100%
			li
				position relative
				display block
				float right
				margin-left 40px
				height 70px
				&:hover
					.downmenu
						display block
				.downmenu
					display none
					position absolute
					top 55px
					left -15px
					padding 10px
					width 90px
					background #525961
					z-index 9999
					-webkit-border-radius 10px 
					border-radius 5px 
					.triangle
						position absolute
						top -5px
						left 15px
						width 11px
						height 5px
						background url('/img/triangle.png') 0 0 no-repeat
					ul
						display block
						width 100%
						li
							display block
							height 30px
							width 90px
							border-bottom 1px solid #686e75
							a
								display block
								width 100%
								height 30px
								line-height 30px
								text-decoration none
								color #fff
								font-size 14px
								&:hover
									text-decoration underline
	.slider
		margin-left 200px
		width 840px
		height 430px
		overflow hidden
		position relative
		ul
			width 20000em
			position relative
			list-style none
			margin 0
			padding 0
			li
				float left
.content
	margin 0 auto
	width 960px
	padding 40px 0 50px
	.new-goods
		width 100%
		margin-top 40px
		overflow hidden
		.new-good
			float left
			text-decoration none
			display block
			margin 0 0 20px
			padding 0 10px
			width 220px
			overflow hidden
			&:hover
				.new-good-img-container
					border-color #CCE8EB 
			.new-good-img-container
				margin 0 auto 10px
				padding 0 0 10px
				width 218px
				border 1px solid #e1e1e1
				border-radius 10px
				overflow hidden
				img
					width 100%
					height auto
.link
	color #716e71
	font-family "Opensans" , sans-serif
	line-height 18px
	text-decoration none
	line-height 70px
	&:hover
		color #333
h2
	width 100%
	margin-bottom 10px
	font-size 24px
	text-transform uppercase
	text-align center
	color #484848
h3
	width 100%
	margin-bottom 25px
	font-size 20px
	text-transform uppercase
	font-weight 400 
	color #ffffff
h4
	width 100%
	margin-bottom 5px
	font-size 18px
	text-align center
	color #484848
	font-weight 500 
.bold
	font-weight 700 
.text-disclaimer
	width 100%
	font-size 14px
	line-height 18px
	text-align center
	color #7c7770
.text-block
	float left
	margin-right 80px
	width 640px
.sidebar
	float left
	width 240px
	h3
		color #525961
	p
		margin-bottom 25px
		color #525961
	.cont
		padding-left 40px 
		font-size 14px
		margin-bottom 10px
		height 19px
		line-height 19px
		color #525961
		&.__addr
			background url('/img/adress.png') 3px 50% no-repeat
		&.__mail
			background url('/img/email.png') 0 50% no-repeat
		&.__tel
			background url('/img/tel.png') 2px 50% no-repeat
p
	width 100%
	font-size 14px
	line-height 20px
	color #fff
.socials
	overflow hidden
	float left
	width 90px
	margin-left -10px
	padding 30px 0 30px 10px
.soc
	display block
	float left
	margin-right 10px
	width 30px
	height 29px
	-webkit-transition all 0.3s ease
	&:hover
		-webkit-transform scale(1.1)
	&.twi
		background url('/img/twi.png') 0 0 no-repeat
	&.fb
		background url('/img/fb.png') 0 0 no-repeat
.copyright
	float left
	width 200px
	height 90px
	line-height 90px
	font-size 14px
	color #fff
.developers
	float right
	width 200px
	height 90px
	line-height 90px
	font-size 14px
	color #fff
	a
		text-decoration none
		color #FFF
		border-bottom 1px solid rgba(255,255,255, 0.6)
		&:hover
			color #a4a1a4
			border-color rgba(164,161,164, 0.6)
.prev
	display block
	position absolute
	left 30px
	top 50%
	width 34px
	height 34px
	cursor pointer
	margin-top -17px
	background url('/img/prev.png') 0 0 no-repeat
.next
	display block
	position absolute
	right 30px
	top 50%
	width 34px
	height 34px
	cursor pointer
	margin-top -17px
	background url('/img/next.png') 0 0 no-repeat